#root {
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  font-weight: 100;

  // letter-spacing: -0.083em;
  .App {
    height: 100vh;
  }

  .section_1 {
    z-index: 10;
    transform: translateY(-60px);

  }

  .section_2 {
    z-index: 10;
    transform: translateY(-291px);

    [data-aos][data-aos][data-aos-duration="3000"],
    body[data-aos-duration="3000"] [data-aos] {
      transition-duration: 5s;
    }
  }

  .section_3 {
    z-index: 10;
    transform: translateY(-650px);

    [data-aos][data-aos][data-aos-duration="3000"],
    body[data-aos-duration="3000"] [data-aos] {
      transition-duration: 4s;
    }

    #Common {
      .common_text {
        h2 {
          mix-blend-mode: difference;
        }
      }
    }
  }

  .waves {
    width: 100%;
    position: absolute;
    z-index: 10;
  }

  .waves_1 {
    bottom: 0;
    transform: translateY(120px);
  }

  .waves_2 {
    transform: translateY(-235px);
  }

  .waves_3 {
    transform: translateY(-480px);
    display: flex;
    justify-content: center;
    align-items: center;

    .textblend {
      mix-blend-mode: difference;
      font-weight: 700;
      font-size: 150px;
      color: #ffffff;
      position: absolute;
      letter-spacing: 0.08em;
    }
  }

  .maincolor {
    background-color: #101018;
  }

  .f400 {
    font-weight: 400;
  }

  .f700 {
    font-weight: 700;
  }

  .common_text {
    font-weight: 700;
    font-size: 30px;
    color: white;

  }


  @media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1000px;
    }
  }

  @media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1000px;
    }
  }

  @media (max-width:991px) {
    .waves_3 {
      .textblend {
        font-size: 100px;
      }
    }
  }

  @media (max-width:768px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }

    .Mfc {
      flex-direction: column;
    }

    .waves_3 {
      .textblend {
        font-size: 65px;
      }
    }



  }
}

#hd {
  // transition: all 1s ease 0s;
  &.scroll{
    // top: -67px;
  }
  .gnb_ul li {
    padding-right: 1.5rem;
    padding-left: 3.5rem;

    .navi_name {
      opacity: 0.7;
      border-radius: 50px;
      transition: all 0.3s ease;
      position: relative;
      background: #101018;
      padding: 5px 30px;

      &::after {
        position: absolute;
        content: "";
        // background: #fff;
        background: linear-gradient(#31396A, #545D97, #D9D9D9);
        width: 104%;
        height: 110%;
        left: -2%;
        top: -5%;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        animation: rotate 1.5s linear infinite;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleY(1);
      }

      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .mobileNavi {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;

    a {
      color: black !important
    }

    &:before,
    &:after {
      content: "";
      display: block;
      height: 1rem;

    }

    &.on {
      max-height: calc(100vh - 50px);

    }

  }
}

//Intro
#Intro {
  height: 110vh;

  .mainimg {
    padding-top: 5rem;
  }

  .water-fill {
    animation: wave 0.7s infinite linear,
      fill-up 10s infinite ease-out alternate;
  }

  .DIVE {
    transform: translateY(310px);
  }

  @keyframes wave {
    0% {
      x: -400px;
    }

    100% {
      x: 0;
    }
  }


  @keyframes fill-up {
    0% {
      height: 0;
      y: 130px;
    }

    100% {
      height: 160px;
      y: -30px;
    }
  }

  svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    animation-name: exmaple;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .spacer {
    height: 100px;
    width: 100%;
  }

  @keyframes example {
    0% {
      left: 0px;
      top: 0px;
    }

    50% {
      left: -2000px;
      top: 200px;
    }

    100% {
      left: 0px;
      top: 0px;
    }
  }

  .Intro_textbox {
    transform: translateY(123px);

    h3 {
      font-weight: 250;
      font-size: 60px;
      line-height: 129.5%;
    }

  }

  @media (max-width:600px) {
    .Intro_textbox h3 {
      font-size: 50px;
    }
  }

  @media (max-width:550px) {
    .Intro_textbox {
      transform: translateY(80px);

      h3 {
        padding-bottom: 0 !important;
      }

    }
  }
}

// Common
#Common {
  .common_text {
    transform: translateY(17rem);
  }

  h2 {
    font-weight: 900;
    font-size: 90px;
    color: #101018;
    padding-left: 4rem;
    letter-spacing: 0.1em;
  }

  @media (max-width:768px) {
    h2 {
      font-size: 60px;
    }
  }
}

// About
#About {


  #profile {
    padding-top: 10rem;
  }

  .profile_name {

    border-bottom: 1px solid #00000042;

    h3 {
      font-weight: 700;
      font-size: 28px;
    }

    p {
      font-weight: 500;
    }
  }

  .Skills {
    padding-top: 8rem;
    padding-bottom: 15rem;

    .common_text {
      transform: translateY(2rem);
    }

    .water_box_1 {
      height: 140px;
      width: 140px;
    }

    .water_box_2 {
      height: 140px;
      width: 140px;
    }

    .water_box_3 {
      height: 190px;
      width: 190px;
    }

    .water_box_4 {
      height: 260px;
      width: 260px;
    }

    .water_box_5 {
      height: 190px;
      width: 190px;
    }

    .water_box_6 {
      height: 140px;
      width: 140px;
    }

    .water_box_7 {
      height: 140px;
      width: 140px;

    }

    .water_box {
      top: 50%;
      left: 50%;
      background: #0F1434;
      border-radius: 100%;
      overflow: hidden;

      .percent {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        // display: -webkit-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 64px;
      }

      .water {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translate(0, 100%);
        background: #31396A;
        transition: all .3s;

        &_wave {
          width: 200%;
          position: absolute;
          bottom: 100%;

          &_back {
            right: 0;
            fill: #545D97;
            animation: wave-back 1.4s infinite linear;
          }

          &_front {
            left: 0;
            fill: #31396A;
            margin-bottom: -1px;
            animation: wave-front .7s infinite linear;
          }
        }
      }
    }

    @media (max-width:768px) {
      .Mh_0 {
        height: 0;
      }

      .skillslist_1 {
        order: 2;
        padding-top: 3rem;
        padding-bottom: 3rem;
      }

      .skillslist_2 {
        order: 1;
      }

      .skillslist_3 {
        order: 3;
      }

      .water_box_1 {
        height: 110px;
        width: 110px;
      }

      .water_box_2 {
        height: 110px;
        width: 110px;
      }

      .water_box_3 {
        height: 140px;
        width: 140px;
      }

      .water_box_4 {
        height: 200px;
        width: 200px;
      }

      .water_box_5 {
        height: 140px;
        width: 140px;
      }

      .water_box_6 {
        height: 110px;
        width: 110px;
      }

      .water_box_7 {
        height: 110px;
        width: 110px;

      }
    }

    @media (min-width:768px) {
      .skillslist_2 {
        height: 190px;
      }

    }
  }



  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }

  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }

  @media (max-width:768px) {
    #profile {
      padding-top: 3rem;
    }
  }


}




// Work

#Work {
  height: 120vh;
  padding-top: 10rem;

  .WorkSection {
    padding-bottom: 9rem;

    .swiper-pagination {
      width: 50%;
    }

    .workslide {

      .workinfo {

        .infotext {
          font-weight: 300;
          font-size: 18px;
          line-height: 27px;
        }

        .explanation {
          color: #D9D9D9 !important;
          opacity: 0.7;
        }

        .workinfobox_1 {

          .maintitle {
            font-weight: 700;
            font-size: 50px;
          }

          .subtitle {}


        }

        .workinfobox_2 {
          .productionperiod_text {
            padding-right: 50px;
          }

          .useskills_text {
            padding-right: 17px;
          }

          .participation_text {
            padding-right: 34px;
          }
        }
      }

      .workimg {

        .mainimg {

          img {
            height: 440px;
            width: 510px;
          }
        }

        .subimg {

          img {
            height: 81.91px;
            width: 70px;
          }
        }
      }
    }
  }



  @media (min-width:768px) {
    .WorkSection {
      .swiper-pagination {
        display: flex;
        transform: translate(-4px, -32px);
      }

      .swiper-pagination-bullet {
        background-image: url(../../public/img/main/work/5.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 81.91px;
        width: 70px;
        border-radius: 1rem;
      }

    }
  }

  @media (max-width:991px) {
    .WorkSection {
      .swiper-pagination {
        transform: translate(-4px, -120px);
    }
      .workslide {
        .workinfo {}

        .workimg {

          .mainimg {

            img {
              height: 344px;
              width: 100%;
            }
          }
        }
      }
    }

    .workinfo {
      .infotext {
        font-size: 13px !important;
      }

      .workinfobox_1 {
        .maintitle {
          font-size: 38px !important;
        }
      }
    }

    .workinfobox_2 {

      .productionperiod_text {
        padding-right: 46px !important;
      }

      .useskills_text {
        padding-right: 22px !important;
      }
    }
  }

  @media (max-width:768px) {

    padding-top: 3rem;

    .WorkSection {
      padding-bottom: 2rem;

      .workslide {
        .workinfo {
          // padding-bottom: 3rem;
        }

        .workimg {

          .mainimg {

            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }

    }

    .swiper {

      .swiper-pagination {
        transform: translateY(-26.5rem);
        width: 100%;

        .swiper-pagination-bullet {
          width: 13px;
          height: 10px;
          display: inline-block;
          background: #fff;
          opacity: .2;
          margin: 0 5px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          -webkit-transition: opacity .5s, background-color .5s, width .5s;
          -o-transition: opacity .5s, background-color .5s, width .5s;
          transition: opacity .5s, background-color .5s, width .5s;
          -webkit-transition-delay: .5s, .5s, 0s;
          -o-transition-delay: .5s, .5s, 0s;
          transition-delay: .5s, .5s, 0s;
        }
      }

      .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: pointer;
      }

      .swiper-pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #ffffff;
        width: 100px;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
      }


      .workinfo {
        padding-top: 60px;
        transform: translateY(-1rem);

        .workinfobox_2 {
          padding-top: 1rem !important;
          padding-bottom: 1rem !important;
        }
      }
    }
  }

}

// Interview

#Withme {

  #question {
    padding-top: 10rem;

    .interview_qna {
      color: #D9D9D9;
      background-color: #1c1c24;
      overflow: hidden;

      &.show {
        .interview_A {
          max-height: 250px;
          padding: 1.5rem;
        }

        .interview_Q {
          &::after {
            content: "";
            background-image: url(../../public/img/main/common/arrow.png);
            background-repeat: no-repeat;
            height: 13px;
            width: 22px;
            transform: rotate(180deg);
          }
        }
      }

      .interview_Q {
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;

        &::after {
          content: "";
          background-image: url(../../public/img/main/common/arrow.png);
          background-repeat: no-repeat;
          height: 13px;
          width: 22px;
          transition: 0.5s;
        }
      }

      .interview_A {
        line-height: 27px;
        font-weight: 300;
        font-size: 1rem;
        opacity: 0.7;
        max-height: 0;
        transition: 0.5s;
        padding: 0 1.5rem;

      }
    }
  }

  #contactfrom {
    margin-top: 14rem;
    padding-bottom: 10rem;

    h2 {
      font-size: 5rem;
      color: white;
    }

    .line {
      border: 1px solid #292930;
      border-radius: 1rem;
    }

    input {
      background-color: #101018 !important;
      border: 0 !important;
      color: white;
      width: 100%;
      opacity: 0.8;

      &::placeholder {
        color: #D9D9D9;
        opacity: 0.4;
        font-size: 18px;
        font-weight: 300;
      }
    }

    .language {
      .language_list {
        width: 19%;

        .check {
          width: 100%;

          .language_name {}

          .checked {
            &::before {
              content: "";
              background-image: url(../../public/img/main/common/checked.svg);
              background-repeat: no-repeat;
              width: 13px;
              height: 8px;
            }
          }
        }
      }
    }


    textarea {
      background-color: #101018;
      border: 0;
      resize: none;
      color: white;
      overflow: hidden;
      width: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #D9D9D9;
        opacity: 0.4;
        font-size: 18px;
        font-weight: 300;
      }

    }

    .lg {

      label {
        padding: 0.8rem 1rem;
        color: #D9D9D9;
        opacity: 0.4;
        font-size: 14px;

      }
    }

    .email_li {
      width: 49.5%;
      flex: 0 0 auto;

      &.selectDiv {
        &::after {
          content: "";
          background-image: url(../../public/img/main/common/minichecked.svg);
          background-repeat: no-repeat;
          width: 18px;
          height: 9px;
          margin-right: 1rem;
          transition: 0.5s;
        }

        &.rotatechecked {
          &::after {
            content: "";
            background-image: url(../../public/img/main/common/minichecked.svg);
            background-repeat: no-repeat;
            width: 18px;
            height: 9px;
            margin-right: 1rem;
            transform: rotate(180deg);
          }
        }
      }

      .selectBox {
        color: #ffffff !important;
        // opacity: 0.4;
        font-size: 18px;
        width: 100%;



        label {
          margin: 0;

        }

      }

      .selectUl {
        max-height: 0;
        overflow: hidden;
        // transition: 0.7s;
        width: 100%;
        background-color: #1C1C24;
        color: #57575b;
        border-radius: 1rem;
        font-weight: 500;
        margin-top: 13.6rem;
        z-index: 100;


        &.down {
          max-height: 500px;
        }

        li {
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }

  input:focus {
    outline: none;
  }

  label.check {
    cursor: pointer;
  }

  label.check input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
  }

  label.check span {
    border: 1px solid #1C1C24;
    color: #495057;
    text-transform: uppercase;
    background-color: #1C1C24;
    // width: 11.688rem;
    height: 4.25rem;
    font-weight: 600;
    padding-right: 1.2rem;

    &::before {
      content: "";
      background-image: url(../../public/img/main/common/checked.svg);
      background-repeat: no-repeat;
      width: 13px;
      height: 10px;
      padding-right: 1.2rem;
      opacity: 0;
    }
  }

  label.check input:checked+span {
    border-color: #47474D;
    background-color: #47474D;
    color: #ffffff;
    display: flex;

    &::before {
      content: "";
      background-image: url(../../public/img/main/common/checked.svg);
      background-repeat: no-repeat;
      width: 13px;
      height: 10px;
      opacity: 1;
    }
  }

  .btn {
    height: 4.25rem;
    width: 16.25rem;
    opacity: 0.9;
    border: 1px solid #292930;
    border-radius: 1rem;
    font-size: 20px;
    font-weight: 700;
    // background-color: #47474D;
    background-color: #FFFFFF;
    color: #101018;
    // color: #FFFFFF;

    // &:hover {
    //   background: #FFFFFF;
    //   color: #101018;

    // }
  }

  @media (max-width:768px) {
    #contactfrom {
      .language ul {
        flex-wrap: wrap;

        .language_list {
          flex: 0 0 auto;
          width: 31.33333333% !important;
        }

        .language_list_4 {
          padding-top: 1rem;
          transform: translateX(5.1rem);
        }

        .language_list_5 {
          padding-top: 1rem;
          transform: translateX(-5.1rem);
        }
      }

      .emailul {
        flex-direction: column;

        .email_li {
          width: 100%;
        }

        .selectDiv {
          margin-top: 1rem;

          p {
            padding: 1.188rem !important;
          }
        }
      }

      label.check span {
        // height: 3rem;
      }
    }
  }

  @media (max-width:525px) {
    #contactfrom {
      .language ul {
        .language_list_4 {
          transform: translateX(4.5rem);
        }

        .language_list_5 {
          transform: translateX(-4.5rem);
        }
      }
    }


  }

  // .line:focus-within {
  //   border-color: rgba(255, 255, 255, 0.558);
  // }


  // .selectCaret.rotateCaret {
  //   transform: rotate(180deg);
  //   /* transition: 0.7s; */
  // }

  // .directInput {
  //   padding-left: 30px;
  // }

  // @media (min-width: 998px) {
  //   label.check span{
  //     padding: 20px 47px;
  //   }
  // }
  // @media (min-width: 1200px){
  //   label.check span{
  //     padding: 20px 60px;
  //   }
  // }
}